.list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.item {
  margin-bottom: 4px;
  flex-basis: calc((100% - 20px) / 6);
}

.text {
  margin-bottom: 20px;
}

.thumb {
  height: 200px;
}

.img {
  margin-bottom: 4px;
}

.thumb .img {
  width: 100%;
  object-fit: cover;
}
